NESTING OF THE LIST

In [1]:
A = [[1,2,3], [11,22,33],[45,67,89]]
A

[[1, 2, 3], [11, 22, 33], [45, 67, 89]]

In [2]:
A[0]

[1, 2, 3]

In [3]:
A[1]

[11, 22, 33]

In [4]:
A[1][1]

22

In [6]:
A=[[1,2,3],[11,22,33,[55,66]],[67,89,90]]

In [7]:
A

[[1, 2, 3], [11, 22, 33, [55, 66]], [67, 89, 90]]

In [8]:
A

[[1, 2, 3], [11, 22, 33, [55, 66]], [67, 89, 90]]

In [9]:
A[1]

[11, 22, 33, [55, 66]]

In [10]:
A[1][3]

[55, 66]

In [11]:
A[1][3][0]

55

In [12]:
A = [[1,2,3], [11, 22, 33, [500, 502]], [45, [239, "Hiii"], 56, 77]]

In [13]:
A[2][1][1]

'Hiii'

In [15]:
A[-1][1][-1]

'Hiii'

In [16]:
amazon_cart = [["book", 5000], ["phone", 10000], ["ipad", 50000]]

In [17]:
#without for loop
amazon_cart[0][1]

5000

In [18]:
amazon_cart[0][1]

10000

In [19]:
amazon_cart[2][1]

50000

In [20]:
amazon_cart[0][1] + amazon_cart[0][1] + amazon_cart[2][1]

60000

In [27]:
totalcost = 0

for i in range(len(amazon_cart)):
    #print(i)
    print(amazon_cart[i][1])
    totalcost = totalcost + amazon_cart[i][1]
print(totalcost)

5000
10000
50000
65000

In [28]:
for i in amazon_cart:
    print(i)

['book', 5000]
['phone', 10000]
['ipad', 50000]

In [29]:
total_cost = 0
print(f"empty cart: {total_cost}")

for item in amazon_cart:
  print(item[1])
  total_cost = total_cost + item[1]
  print(f"cart after adding {item[0]}: {total_cost}")

print(f"Total payable amount: {total_cost}")

empty cart: 0
5000
cart after adding book: 5000
10000
cart after adding phone: 15000
50000
cart after adding ipad: 65000
Total payable amount: 65000

LIST COMPREHENSION

In [30]:
#List which contains list of square of numbers between 1 to 10

A = [1,2,3,4,5,6,7,8,9,10]

In [35]:
ans = list()

for ele in A:
    print(ele**2)
    ans.append(ele**2)
print(ans)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
ans = [ele**2 for ele in A]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
#only to square of the even numbers from the list
A = [1,2,3,4,5,6,7,8,9,10]

In [42]:
ans = list()
for i in A:
    if i%2==0:
        print(i**2)
        ans.append(i**2)
ans

4
16
36
64
100

[4, 16, 36, 64, 100]

In [43]:
ans = [i**2 for i in A if i%2!=0]
ans

[1, 9, 25, 49, 81]

COUNT

In [44]:
A = [1,2,1,3,4,3,4,4,5,7,7,7]

In [45]:
A.count(1)

2

In [46]:
A.count(7)

3

In [49]:
for i in A:
    print(i,A.count(i))

1 2
2 1
1 2
3 2
4 3
3 2
4 3
4 3
5 1
7 3
7 3
7 3

In [50]:
A = [1,2,3]
B = [11,22,33]
A.append(B)

In [51]:
A

[1, 2, 3, [11, 22, 33]]

In [52]:
A.extend(B)

In [53]:
A

[1, 2, 3, [11, 22, 33], 11, 22, 33]

INDEX MEATHOD

In [54]:
A = [11,23,45,45+34j,"Wasim",1+2j]

In [55]:
A.index(11)

0

In [57]:
A.index("Wasim")

4

In [58]:
#print the index of the all complex numbers 
# do for loop
#if condition for type check
#if type is complex then print the index

In [62]:
for ele in A:
    if type(ele)== complex:
        print(f"Element:{ele} | {type(ele)} | {A.index(ele)}")

Element:(45+34j) | <class 'complex'> | 3
Element:(1+2j) | <class 'complex'> | 5

In [63]:
for ele in A:
    if type(ele)== int:
        print(f"Element:{ele} | {type(ele)} | {A.index(ele)}")

Element:11 | <class 'int'> | 0
Element:23 | <class 'int'> | 1
Element:45 | <class 'int'> | 2

ISINSTANCE

In [64]:
for ele in A:
    if isinstance(ele,complex):
        print(f"Element:{ele} | {type(ele)} | {A.index(ele)}")

Element:(45+34j) | <class 'complex'> | 3
Element:(1+2j) | <class 'complex'> | 5

print the index of all the complex  or int also

In [65]:
for ele in A:
    if type(ele)== int or type(ele)== complex:
        print(f"Element:{ele} | {type(ele)} | {A.index(ele)}")

Element:11 | <class 'int'> | 0
Element:23 | <class 'int'> | 1
Element:45 | <class 'int'> | 2
Element:(45+34j) | <class 'complex'> | 3
Element:(1+2j) | <class 'complex'> | 5

In [68]:
for ele in A:
    if isinstance(ele,(complex,int)):
        print(f"Element:{ele} | {type(ele)} | {A.index(ele)}")

Element:11 | <class 'int'> | 0
Element:23 | <class 'int'> | 1
Element:45 | <class 'int'> | 2
Element:(45+34j) | <class 'complex'> | 3
Element:(1+2j) | <class 'complex'> | 5

In [69]:
A = [11, 3, 4, 56+2j, "Sunny", 1+2j, 3, 3] # duplicate elements

A.index(3)

1

In [70]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A.index(4) # sir its showing value Error

ValueError: 4 is not in list

In [71]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A.index([4,5,6]) # sir its showing value Error

3

In [72]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A[3].index(4) # sir its showing value Error

0

INSERT

In [74]:
A = [1,2,3,4,5]

A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [75]:
A.insert(2, "Wasim")

A

[1, 2, 'Wasim', 3, 4, 5, 99]

In [76]:
A.insert(2000, "Wasim")

A

[1, 2, 'Wasim', 3, 4, 5, 99, 'Wasim']

In [77]:
A[2000]

IndexError: list index out of range

In [78]:
A.insert(-2000, "Wasim")

A

['Wasim', 1, 2, 'Wasim', 3, 4, 5, 99, 'Wasim']

In [79]:
A.insert(2, "Wasim")

len(A)

10

In [80]:
A.insert(2000, "Wasim")

len(A)

11

In [81]:
A.insert(, "Sunny")

len(A)

SyntaxError: invalid syntax (4055640406.py, line 1)

REMOVE MEathod

In [82]:
A = [1,2,3,455, 6, 77]

A.remove(455)

A

[1, 2, 3, 6, 77]

In [83]:
A = [1,2,3,455, 6, 77]

A.remove(77)

A

[1, 2, 3, 455, 6]

In [84]:
A = [1,1,2,3,455, 6, 77]

A.remove(1)

In [85]:
A

[1, 2, 3, 455, 6, 77]

In [86]:
A = [1,1,2,3,455, 6, 88, 6, 77]

A.remove(9999)

A

ValueError: list.remove(x): x not in list

In [87]:
A.pop(-1)

77

In [88]:
A.pop()

6

In [89]:
A

[1, 1, 2, 3, 455, 6, 88]

TUPLES ()  IMMUTABLE
list is mutable

In [90]:
A = (1,2,3)

In [91]:
type(A)

tuple

In [92]:
A[0]

1

In [94]:
A[-1]

3

In [95]:
A = (22,13,2,4,12)

In [96]:
A.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [98]:
sorted(A)#first convert in list then it is sorted

[2, 4, 12, 13, 22]

In [99]:
A = sorted(A) 

A

[2, 4, 12, 13, 22]

In [100]:
A = (22, 12, 34, 1)

len(A)

4

In [101]:
A * 2

(22, 12, 34, 1, 22, 12, 34, 1)

In [102]:
max(A)

34

In [103]:
min(A)

1

In [104]:
# ("item_name", amount) 

amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

total_cost = 0

In [105]:
total_cost = 0
print(f"empty cart: {total_cost}")

for item in amazon_cart:
  print(item[1])
  total_cost = total_cost + item[1]
  print(f"cart after adding {item[0]}: {total_cost}")

print(f"Total payable amount: {total_cost}")

empty cart: 0
5000
cart after adding watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding laptop: 65000
1000
cart after adding shirt: 66000
Total payable amount: 66000

user input what you want to purchase?

In [107]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

my_choice = input("What you want to purchase? : ")

What you want to purchase? : shirt

In [108]:
my_choice

'shirt'

In [109]:
for item in amazon_website:
  if item[0] == my_choice:
    print(item)

('shirt', 1000)

Sets
unordered collection of unique elements

In [110]:
x = {1,2,33,6,7}

In [111]:
x = set() # RECOMMENDED

type(x)

set

In [112]:
x = tuple()
x

()

In [113]:
x = list()
x

[]

In [114]:
x =  {1,2,33,6,7, 7, 7}

x

{1, 2, 6, 7, 33}

In [115]:
x[0] # NOT allowed as set is unordered

TypeError: 'set' object is not subscriptable

In [116]:
x =  {1,2,33,6,"Wasim"}

x

{1, 2, 33, 6, 'Wasim'}

In [117]:
x.add(99)

x

{1, 2, 33, 6, 99, 'Wasim'}

In [118]:
x.add(99+2j)

x

{(99+2j), 1, 2, 33, 6, 99, 'Wasim'}

In [119]:
x.add( -100)

x

{(99+2j), -100, 1, 2, 33, 6, 99, 'Wasim'}

In [120]:
x.add( -200)

x

{(99+2j), -100, -200, 1, 2, 33, 6, 99, 'Wasim'}

In [121]:
x.add( 20.2)

x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 6, 99, 'Wasim'}

In [122]:
x.add( 40.2)

x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Wasim'}

In [123]:
x.remove(-100)

x

{(99+2j), -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Wasim'}

In [124]:
## return the list with unique elements

A = [1,2,3,5,5,6,6,7,7,7]

A = list(set(A))

A

[1, 2, 3, 5, 6, 7]

In [125]:
x.append(99)

x

AttributeError: 'set' object has no attribute 'append'

In [126]:
A = {1,2,3}
B = {4,5,6}


A + B

TypeError: unsupported operand type(s) for +: 'set' and 'set'