In [1]:
#Lis t is the collection of different or individual elements 
A = [1,2,3,4,5]

In [2]:
len(A)

5

In [3]:
A[0]

1

In [4]:
A = [1,2,3,4,5.0,"Wasim",1+3j,True]

In [5]:
type(A)

list

A = [1,2,3,4,5.0,"Wasim",1+3j,True]
#What is the difference between list of python and array of c or c++?
ans:- In an array we will element as only one datatype in pyhton list all elements can be different or same datatype.

In [6]:
for element in A:
    print(element)

1
2
3
4
5.0
Wasim
(1+3j)
True

In [7]:
for element in A:
    print(element,end=" ")

1 2 3 4 5.0 Wasim (1+3j) True

In [8]:
for i in range(len(A)):
    print(A[i])

1
2
3
4
5.0
Wasim
(1+3j)
True

In [9]:
for i in range(len(A)):
    print(f"i = {i}, value = {A[i]}, datatype = {type(A[i])}")

i = 0, value = 1, datatype = <class 'int'>
i = 1, value = 2, datatype = <class 'int'>
i = 2, value = 3, datatype = <class 'int'>
i = 3, value = 4, datatype = <class 'int'>
i = 4, value = 5.0, datatype = <class 'float'>
i = 5, value = Wasim, datatype = <class 'str'>
i = 6, value = (1+3j), datatype = <class 'complex'>
i = 7, value = True, datatype = <class 'bool'>

In [10]:
A[3:]

[4, 5.0, 'Wasim', (1+3j), True]

In [11]:
A[0::2]

[1, 3, 5.0, (1+3j)]

In [12]:
for i in range(0,8,2):
    print(i,A[i])

0 1
2 3
4 5.0
6 (1+3j)

In [13]:
A[::-1]

[True, (1+3j), 'Wasim', 5.0, 4, 3, 2, 1]

In [14]:
for i in range(-1,-len(A)-1,-1):#-len(A)==-8
    print(i,A[i])

-1 True
-2 (1+3j)
-3 Wasim
-4 5.0
-5 4
-6 3
-7 2
-8 1

In [15]:
A[::2]

[1, 3, 5.0, (1+3j)]

In [16]:
A[1::2]

[2, 4, 'Wasim', True]

In [17]:
for i in [1,5,6,7]:
    print(i,A[i])

1 2
5 Wasim
6 (1+3j)
7 True

In [18]:
A[4] = 999#List Mutable means we can change the value

In [19]:
A

[1, 2, 3, 4, 999, 'Wasim', (1+3j), True]

In [20]:
B = [78,90.2]

In [21]:
A + B

[1, 2, 3, 4, 999, 'Wasim', (1+3j), True, 78, 90.2]

In [22]:
A[-2] = "inertone"

In [23]:
A

[1, 2, 3, 4, 999, 'Wasim', 'inertone', True]

In [24]:
A - B#It can not support

TypeError: unsupported operand type(s) for -: 'list' and 'list'

MAKE THE LIST DOUBLE

In [25]:
A*2

[1,
 2,
 3,
 4,
 999,
 'Wasim',
 'inertone',
 True,
 1,
 2,
 3,
 4,
 999,
 'Wasim',
 'inertone',
 True]

In [26]:
A* -1

[]

In [27]:
A*-2

[]

In [28]:
A  + 2*A

[1,
 2,
 3,
 4,
 999,
 'Wasim',
 'inertone',
 True,
 1,
 2,
 3,
 4,
 999,
 'Wasim',
 'inertone',
 True,
 1,
 2,
 3,
 4,
 999,
 'Wasim',
 'inertone',
 True]

Lenght :-
lenght of the list can be calculated using built in functuion len().

In [29]:
l = [45,6,7,5,"ineuron",True,False,35,62.56]

In [30]:
len(l)

9

In [31]:
len(A)

8

In [32]:
my_list = []#Not recommencd
len(my_list)

0

In [33]:
my_list = list()#Recommended

In [34]:
len(my_list)

0

CREATE A LIST USING USER_INPUT

In [35]:
list_of_item_to__purchase = list()#Empty list we are defining

for i in range(10):
    user_input = input(" Enter the item that you want to purchase: ")
    list_of_item_to__purchase = list_of_item_to__purchase + [ user_input]
print(list_of_item_to__purchase)

 Enter the item that you want to purchase: Bag
 Enter the item that you want to purchase: pen
 Enter the item that you want to purchase: copy
 Enter the item that you want to purchase: notebook
 Enter the item that you want to purchase: compass
 Enter the item that you want to purchase: color
 Enter the item that you want to purchase: unifor
 Enter the item that you want to purchase: shooes
 Enter the item that you want to purchase: sox
 Enter the item that you want to purchase: cap
['Bag', 'pen', 'copy', 'notebook', 'compass', 'color', 'unifor', 'shooes', 'sox', 'cap']

In [36]:
list_of_item_to__purchase = list()#Empty list we are defining
N = int(input("Number of stom you want to purchase:"))
for i in range(N):
    user_input = input(" Enter the item that you want to purchase: ")
    list_of_item_to__purchase = list_of_item_to__purchase + [ user_input]
print(list_of_item_to__purchase)

Number of stom you want to purchase:5
 Enter the item that you want to purchase: Kote
 Enter the item that you want to purchase: caer
 Enter the item that you want to purchase: bike
 Enter the item that you want to purchase: watch
 Enter the item that you want to purchase: phone
['Kote', 'caer', 'bike', 'watch', 'phone']

In [37]:
len(list_of_item_to__purchase)

5

USE WHILE LOOP

In [38]:
list_of_item_to__purchase = list()#Empty list we are defining
N = int(input("Number of stom you want to purchase:"))
i =0
while i < N:
    user_input = input(" Enter the item that you want to purchase: ")
    list_of_item_to__purchase = list_of_item_to__purchase + [ user_input]
    i = i + 1
print(list_of_item_to__purchase)

Number of stom you want to purchase:3
 Enter the item that you want to purchase: pot
 Enter the item that you want to purchase: spoon
 Enter the item that you want to purchase: cooker
['pot ', 'spoon', 'cooker']

In [40]:
list_of_item_to__purchase = list()#Empty list we are defining
N = int(input("Number of stom you want to purchase:"))
i =0
while i < N:
    user_input = input(" Enter the item that you want to purchase: ")
    list_of_item_to__purchase = list_of_item_to__purchase + [ user_input]
    i = i + 1
    print(f"current i : {i}=> Current list:{list_of_item_to__purchase}")
print(list_of_item_to__purchase)

Number of stom you want to purchase:4
 Enter the item that you want to purchase: mouse
current i : 1=> Current list:['mouse']
 Enter the item that you want to purchase: monitor
current i : 2=> Current list:['mouse', 'monitor']
 Enter the item that you want to purchase: keypad
current i : 3=> Current list:['mouse', 'monitor', 'keypad']
 Enter the item that you want to purchase: remote
current i : 4=> Current list:['mouse', 'monitor', 'keypad', 'remote']
['mouse', 'monitor', 'keypad', 'remote']

check memebership in list

In [43]:
"computer" in list_of_item_to__purchase

False

In [44]:
"monitor" in list_of_item_to__purchase

True

In [47]:
if "computer" in list_of_item_to__purchase:
    print('Yes')
else:
    print("No, adding in to the list ")
    list_of_item_to__purchase  = list_of_item_to__purchase + ["computer"]

Yes

In [50]:
if "CPU" in list_of_item_to__purchase:
    print('Yes')
else:
    print("No, adding in to the list ")
    list_of_item_to__purchase  = list_of_item_to__purchase + ["CPU"]

No, adding in to the list

In [51]:
print(list_of_item_to__purchase)

['mouse', 'monitor', 'keypad', 'remote', 'computer', 'computer', 'CPU']

In [52]:
if "ssd" not in list_of_item_to__purchase:
    print("No, adding into the list")
    list_of_item_to__purchase = list_of_item_to__purchase + ["ssd"]
list_of_item_to__purchase

No, adding into the list

['mouse', 'monitor', 'keypad', 'remote', 'computer', 'computer', 'CPU', 'ssd']

MAX value in list

In [53]:
example = [1,45,65,89]
max(example)

89

In [54]:
#In python 3 you can find the max with different data types

In [56]:
string_example = ["b","a","c"]
max(string_example)

'c'

In [58]:
string_example = ["d","b","a","c"]
max(string_example)

'd'

In [60]:
string_example = ["d","b","a","c","F"]
max(string_example)#Beacause it is ASCII code preference

'd'

In [61]:
example = [12,34,5,-4]
min(example)

-4

In [62]:
string_example = ["wasim","Aleem","faraz","zahed","dj"]

In [63]:
max(string_example)

'zahed'

In [64]:
min(string_example)

'Aleem'

In [68]:
#print the name with the heighest number of characters ---
max_len = 0
result = ""
for example in string_example:
    print(example,len(example))
    if len(exapmle) > max__len:
        max_len = len(example)
        result = example
print(f"RESULT: max_len: {max_len} name: {result}")

wasim 5

NameError: name 'exapmle' is not defined

APPEND MEATHOD

In [69]:
A = [1,2,77]
A.append("new_element")

In [70]:
A

[1, 2, 77, 'new_element']

In [71]:
A.append("ROMA")

In [72]:
A

[1, 2, 77, 'new_element', 'ROMA']

In [73]:
A.append("wasd","ds")

TypeError: list.append() takes exactly one argument (2 given)

In [74]:
A.append(["wasim","wasiw"])

In [76]:
A

[1, 2, 77, 'new_element', 'ROMA', ['wasim', 'wasiw']]

In [77]:
A = [3,5,6,7,"Wasim"]
A.pop(0)

3

In [78]:
A

[5, 6, 7, 'Wasim']

In [80]:
A.pop()

'Wasim'

In [81]:
A

[5, 6, 7]

In [83]:
#remove the odd numbers 
A = [62,34,55,77,87,98]

for idx in range(len(A)):
    num = A[idx]
    print(idx,num)
    if num%2!=0:#odd condition adn it gives the remainder value
        print(f"odd num:{num}")
    else:
        print(f"Even num:{num}")

0 62
Even num:62
1 34
Even num:34
2 55
odd num:55
3 77
odd num:77
4 87
odd num:87
5 98
Even num:98

sort meanthod

In [84]:
a = [1,45,67,32,-45]

In [85]:
a.sort()

In [86]:
a

[-45, 1, 32, 45, 67]

In [87]:
sorted(A)

[34, 55, 62, 77, 87, 98]

In [88]:
sorted(a)

[-45, 1, 32, 45, 67]

In [89]:
B = [23,43,56,67,"wasim","kaleem"]

In [90]:
B.reverse()

In [91]:
B

['kaleem', 'wasim', 67, 56, 43, 23]