1. Print the first 5 positive integers in ascending order with one number 
in each line

In [1]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [2]:
i = 1
while i<=5:
    print(i)
    i = i + 1

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [4]:
for i in range(0,6):
    print("*"*i)

*
**
***
****
*****

In [7]:
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [10]:
n = int(input("integer:"))
print(n**2)

integer:3
9

4.Accept two integers as input and print their sum as output.

In [13]:
a = int(input("First integer:"))
b = int(input("Second integer:"))
print(a+b)

First integer:3
Second integer:2
5

5. Accept two words as input and print the two words after adding a 
space between them

In [14]:
word1 = input("Enter your first word:")
word2 = input("Enter your second word:")
print(word1+" "+word2)

Enter your first word:Hard
Enter your second word:Work
Hard Work

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [15]:
n = input()
print(n[0:2])

MH25K752
MH

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [18]:
num = input()
d1 = int(num[0])
d2 = int(num[1])
d3 = int(num[2])
d4 = int(num[3])
d5 = int(num[4])
dsum = d1+d2+d3+d4+d5
print(dsum)

12345
15

In [20]:
a = input("PLease enter the number:")
count = 0
for i in a:
    count += int(i)
count

PLease enter the number:12345

15

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [21]:
word1 = input()
word2 = input()
word3 = input()
word4 = input()
word5 = input()
space = ' '
stop = '.'
sentence = word1 + space + word2 + space + word3 + space + word4 + space + word5 + space + stop

i write a code today
so
i
am
happy

In [22]:
sentence

'i write a code today so  i am  happy .'

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [25]:
date = input()
year = date[-4:]
print(year)

21/05/2002
2002

In [26]:
a = input()
year = a[6:]
print(year)

25/03/2008
2008

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [27]:
inp_num = [1,2,3,4,5]
prod = 1
for i in inp_num:
    if i !=',':
        prod = prod * i
print(prod)

120

11. Accept two positive integers x and y as input. Print the number of 
digits in x**y

In [28]:
x = int(input("Enter the number :"))
y = int(input("Enter the second number : "))
a = x**y
print(a)

Enter the number :2
Enter the second number : 4
16

In [29]:
x = int(input("Enter the number :"))
y = int(input("Enter the second number : "))
a = x**y
print(f"The square of number is :{a}")

Enter the number :2
Enter the second number : 3
The square of number is :8

# 12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [32]:
s = input()
n = len(s)
if n%2==0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n = int((len(s)-1)/2)
print(s[n-1:n+2])

was
was

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [33]:
x=int(input())
y=int(input())
z=int(input())
if ((x**2 + y**2 ==z**2)or
    (y**2 + z**2==x**2)or
    (z**2 + x**2==y**2)):
    print("Yes")
else:
    print("No")

3
3
3
No

In [34]:
x=int(input())
y=int(input())
z=int(input())
if ((x**2 + y**2 ==z**2)or
    (y**2 + z**2==x**2)or
    (z**2 + x**2==y**2)):
    print("Yes")
else:
    print("No")

3
4
5
Yes

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [36]:
emp1 = int(input())
emp2 = int(input())
emp3 = int(input())
emp4 = int(input())
emp5 = int(input())

if ((emp1 + emp2)%2==0 and
    (emp2+ emp3)%2==0 and
    (emp3+ emp4)%2==0 and
    (emp4 + emp5)%2==0 and
    (emp5 + emp1)%2==0):
    print("YES")
else:
    print("No")

1
2
3
4
5
No

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [39]:
n = input("enter your string:")
lst = list(n)
print(lst)
vols=['a','e','i','o','u']

out=[]
for each in lst:
    if each in vols:
        out.append(each)
print("vowels found are:")
print(set(out))

enter your string:wasim
['w', 'a', 's', 'i', 'm']
vowels found are:
{'i', 'a'}

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [1]:
n1 = input()
d1 = input()
n2 = input()
d2 = input()
if d1 == d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4]:
    if int(d1[-4:])<int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5] != d2[3:5]:
    if int(d1[3:5])<int(d2[3:5]):
        print(n2)
    else:
        print(n1)
elif d1[0:2] != d2[0:2]:
    if int(d1[0:2])<int(d2[0:2]):
        print(n2)
    else:
        print(n1)

wasim
21/05/2002
Aleem
2/3/2001
wasim

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [3]:
p = input()
if 8<=len(p)<=32 and p[0].isalpha() and '/' not in p and '\\' not in p and '\'' not in p and '=' not in p and ' 'not in p and '/' not in p:
    print('True')
else:
    print('False')

ws123trtj
True

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [6]:
n = int(input())
for i in range(1,n+1):
    print(i)

5
1
2
3
4
5

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [8]:
n = int (input())
isprime = True
if n == 1:
    isprime = False
else:
    for i in range(2,n):
        if n%i==0:
            isprime =False
if isprime == True:
    print(f"{n} It is a prime Number")
else:
    print(f"{n} It is not a prime number")

3
3 It is a prime Number

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [9]:
a = input()
b = input()
for c in a:
    if c in b:
        b = b.replace(c,'')
print(b)

wasim
aleem
lee